#textoazul{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
#textoamarelo{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-top: black;
}
.subititulo{
    background-color: antiquewhite;
}
body{
    background-color: antiquewhite;
    
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
    color:rosybrown
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
}
#texto1{
    font-family: Arial, Helvetica, sans-serif;
}

    

